@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00898F;
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #006B70;
}