@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility class to hide scrollbar on specific elements */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'Epicgant';
  src: url('/font/Epicgant Personal Use.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.gradient {
  /* background: linear-gradient(144deg, #00898F -5.33%, #B7FF95 127.69%); */
  /* background-color: black; */
  background-image: radial-gradient(red 5%, green 15%, blue 60%);
}
/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #00898f;
  border-radius: 10px;
} */

.hm-hero .swiper-pagination-bullet-active {
  background-color: #00898f;
  width: 4px;
  height: 4px;
}
/* @media only screen and (max-width: 580px) {
  .overflow-item{
        justify-content: start;
        overflow-x: auto;
  }

} */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 4px grey; 
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00898F;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00898F;
}