@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  /* background: linear-gradient(144deg, #00898F -5.33%, #B7FF95 127.69%); */
  /* background-color: black; */
  background-image: radial-gradient(red 5%, green 15%, blue 60%);
}
/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #00898f;
  border-radius: 10px;
} */

.hm-hero .swiper-pagination-bullet-active {
  background-color: #00898f;
  width: 10px;
  height: 10px;
}
@media only screen and (max-width: 580px) {
  .overflow-item{
        justify-content: start;
        overflow-x: auto;
  }

}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00898F;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00898F;
}